.wrapper {
  margin-right: 150px;
  display: flex;
}

.scrollable-area{
  min-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 350px) {
  .wrapper{
    margin-right: auto;
  }
  .scrollable-area{
    min-height: 460px;
  }
}
